<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-2 align-self-center">
      <h2 class="card-title"><%= @product.brand.capitalize %></h5>
      <p class="card-text"><%= @product.style %></p>
      <p class="card-text">Size: <%= @product.size %></p>
      <p class="card-text">Vendor: <%= @product.user.username %></p>
      <%= number_to_currency @product.price %>
      <br>
      <button id="pay-now" class="mt-2 btn btn-outline-dark">Checkout Now</button>
    </div>
    <div class="col-5">
      <%= image_tag @product.picture, class: 'img-thumbnail', width: 350 if @product.picture.attached?%>
    </div>
  </div>
  <script src="https://js.stripe.com/v3/"></script>
  <!-- Rails.application.credentials.dig(:stripe, :publishable_key) -->
  <script>
    function redirectToStripe (){
      var stripe = Stripe('pk_test_F0IQKVI5uYJ7bj5Y94ZpXcSO00NCQzo8o7');
      stripe.redirectToCheckout({
        // Make the id field from the Checkout Session creation API response
        // available to this file, so you can provide it as parameter here
        // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
        sessionId: '<%= @session.id %>'
      }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      });
    }
    
    document.querySelector("#pay-now").addEventListener("click", redirectToStripe)
  </script>
</div>
