<div class="container">
  <div class="row">
    <div class="col-2  m-5">
      <h2>Search All</h2>
      <%= form_tag(products_path, method: "get") do %>
        <%= text_field_tag(:brand, params[:brand]) %>
        <%= button_tag(type: "submit", class: "btn btn-outline-dark mt-3") do %>
          <i class="fa fa-search"></i> Search
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <h1 class='display-4 mt-4 ml-3'>Products</h1>
      <div class="row row-cols-1 row-cols-md-3">
        <% @products.each do |product| %>
          <div class="col-md-4">
            <div class="card h-100">
              <%= link_to product do%>
                <%= image_tag product.picture, class: 'card-img-top product_img', width: 300 if product.picture.attached?%>
              <%end%>
              <div class="card-body">
                <h5 class="card-title"> <%= product.brand %> <%= product.style %></h5>
                <p class="card-text">Size: <%= product.size %><br>
                  <%= number_to_currency product.price %></p>
                <% if current_user && current_user.has_role?(:admin) || current_user && current_user.id == product.user_id %>
                  <%= link_to 'Edit', edit_product_path(product) %>
                  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
