<div class="container">
  <p id="notice"><%= notice %></p>
  <p><%= link_to "Back", products_path %></p>
  <div class="row justify-content-center">
    <div class="card border-light mb-3 " style="width: 18rem;">
      <%= image_tag @product.picture, class: 'card-img-top ', width: 350 if @product.picture.attached?%>
      <div class="card-body">
        <h5 class="card-title"><%= @product.brand %></h5>
        <p class="card-text"><%= @product.style %> <br>
          Size: <%= @product.size %> <br>
          Vendor: <%= @product.user.username %> <br>
          <% if @product.price %>
            <p class="card-text"> <%= number_to_currency @product.price %></p>
            <% if current_user && current_user.has_role?(:admin) || current_user && current_user.id == @product.user_id %>
              <p class="card-text"><%= link_to 'Edit', edit_product_path(@product) %> </p>
            <% end %>
            <%= link_to "Buy Now!", new_order_path(product_id: @product.id), class: "btn btn-outline-dark" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
