<h1 class='display-4 text-center mt-5 m-3'>Sneakers</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @shuffled_sneakers[0..5].each do |sneaker| %>
      <div class="col-md-4">
        <div class="card h-100">
        <%= link_to sneaker do%>
          <%= image_tag sneaker.picture, class: 'card-img-top product_img', width: 300 if sneaker.picture.attached?%>
          <%end%>
          <div class="card-body">
            <h5 class="card-title"> <%= sneaker.brand %> <%= sneaker.model %></h5>
            <p class="card-text">Size: <%= sneaker.size %><br>
              <%= number_to_currency sneaker.price %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
