<div class="container">
  <h1 class='display-4 mt-5 m-3'>Apparel</h1>
  <div class="row row-cols-1 row-cols-md-3">

  <!-- returning all apparel with the categroy of apparel  -->
    <% @apparel.each do |apparel| %>
      <% if apparel.category == "Apparel"  %>
        <div class="col-md-4">
          <div class="card h-100">
            <%= link_to apparel do%>
              <%= image_tag apparel.picture, class: 'card-img-top apparel_img', width: 300 if apparel.picture.attached?%>
            <%end%>
            <div class="card-body">
              <h5 class="card-title"> <%= apparel.brand %> <%= apparel.style %></h5>
              <p class="card-text">Size: <%= apparel.size %><br>
                <%= number_to_currency apparel.price %></p>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>
  </div>
</div>
