<%= form_with(model: apparel, local: true) do |form| %>
  <% if apparel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apparel.errors.count, "error") %> prohibited this apparel from being saved:</h2>

      <ul>
        <% apparel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
