<p id="notice"><%= notice %></p>

<%= image_tag @apparel.picture, class: 'img-thumnail box', width: 150 if @apparel.picture.attached? %>
<p>
  <strong>Brand:</strong>
  <%= @apparel.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @apparel.model %>
</p>

<p>
  <strong>Size:</strong>
  <%= @apparel.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @apparel.price %>
</p>

<p>
<strong>Seller</strong>
  <%= @apparel.user.username%>
</p>
<% if current_user && current_user.has_role?(:admin) || current_user && current_user.id == @apparel.user_id %>
<%= link_to 'Edit', edit_apparel_path(@apparel) %> |
<%end%>
<%= link_to 'Back', apparels_path %>
