
  <%= bootstrap_form_with(model: product, local: true) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.select :category,(['Sneakers','Apparel','Accesories']),  class: 'form-control' %>
    <%= form.text_field :brand, class: 'form-control' %>
    <%= form.text_field :style, class: 'form-control' %>
    <%= form.text_field :price, class: 'form-control' %>
    <%= form.select :size, (["Shoe size...", '5','6','7','8','9','10','11','12', '13']), label: "Select Shoe Size", class: "form-control"%>
    <%= form.select :size, (["Apparel size", 'XS','S','M','L','XL','XXL','XXXL' ]), label: "Select Apparel Size", class: "form-control"%>

    
    <%= form.file_field :picture, accept: 'image/png, image/gif, image/jpeg, image/jpg', class: "custom-file-input"%>
    <%= form.submit %>
  <% end %>

