<div class="container mt-5">
  <p id="notice"><%= notice %></p>
  <div class="row justify-content-center">
    <div class="col-3 align-self-center">
    
      <div class="card-text-center" >
        <div class="card-body">
          <h2 class="card-title"><%= @sneaker.brand %></h5>
          <p class="card-text"><%= @sneaker.model %></p>
          <p class="card-text">Size: <%= @sneaker.size %></p>
          <p class="card-text">Vendor: <%= @sneaker.user.username %></p>
          <% if @sneaker.price %>
          <p class="card-text"> <%= number_to_currency @sneaker.price %></p>

          <% if current_user && current_user.has_role?(:admin) || current_user && current_user.id == @sneaker.user_id %>
           <%= link_to "Buy Now", new_order_path%>
           <% end %>

            <p class="card-text"><%= link_to 'Edit', edit_sneaker_path(@sneaker) %> </p>
          <%end%>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
<p class='pt-3'><%= link_to 'Back', sneakers_path %></p>
      </div>
    </div>
    <div class="col-4">
      <%= image_tag @sneaker.picture, class: 'img-thumbnail bopx', width: 350 if @sneaker.picture.attached?%>
    </div>
  </div>
</div>


