<p id="notice"><%= notice %></p>


<%= image_tag @sneaker.picture, class: 'img-thumbnail bopx', width: 300 if @sneaker.picture.attached?%>
<p>
  <strong>Brand:</strong>
  <%= @sneaker.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @sneaker.model %>
</p>

<p>
  <strong>Size:</strong>
  <%= @sneaker.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sneaker.price %>
</p>

<%= link_to 'Edit', edit_sneaker_path(@sneaker) %> |
<%= link_to 'Back', sneakers_path %>
