<p id="notice"><%= notice %></p>


<%= image_tag @sneaker.picture, class: 'img-thumbnail bopx', width: 300 if @sneaker.picture.attached?%>
<p>
  <strong>Brand:</strong>
  <%= @sneaker.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @sneaker.model %>
</p>

<p>
  <strong>Size:</strong>
  <%= @sneaker.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sneaker.price %>
</p>


<p>
<strong>Seller:</strong>
  <%= @sneaker.user.username %>
</p>

<% if current_user && current_user.has_role?(:admin) || current_user && current_user.id == @sneaker.user_id %>
<%= link_to 'Edit', edit_sneaker_path(@sneaker) %> |
<%end%>
<%= link_to 'Back', sneakers_path %>


