<ul class="nav justify-content-center p-3 bg-light">
  <li class="nav-item">
    <li>
      <%= link_to "KREAM", root_path, class: 'navbar-brand' %>
    </li>
    <%= link_to 'Products', products_path, class: 'nav-link' %>
  </li>
  
  <% if user_signed_in?%>
    <li class="nav-item">
      <%= link_to 'Sell', new_product_path, class: 'nav-link' %>
    </li>
    
    
    <li class="nav-item">
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link'%>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Sign in', new_user_session_path, class: 'nav-link'%>
    </li>
  <% end %>

    <% if user_signed_in? && current_user.has_role?(:admin) %>
        <li class="nav-item">
          <%= link_to "Admin", admin_path, class: 'nav-link'%>
        </li>
       <%end%>
</ul>
