<ul class="nav justify-content-center p-3 bg-light text-reset">
  <li class="nav-item">
    <li>
      <%= link_to "KREAM", root_path, class: 'navbar-brand' %>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
      <div class="dropdown-menu">
        <%= link_to 'Sneakers', sneakers_path, class: 'dropdown-item'%>
        <%= link_to 'Apparel', apparel_path, class: 'dropdown-item'%>
        <%= link_to 'All Products', products_path, class: 'dropdown-item' %>
      </div>
    </li>
  </li>
  <% if user_signed_in?%>
    <li class="nav-item">
      <%= link_to 'Sell', new_product_path, class: 'nav-link' %>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name%></a>
      <div class="dropdown-menu">
        <%= link_to 'My Profile', dashboard_index_path, class: 'dropdown-item'%>
        <%= link_to 'Chat', conversations_path, class: 'dropdown-item'%>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'%>
      </div>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Sign in', new_user_session_path, class: 'nav-link'%>
    </li>
  <% end %>
  <% if user_signed_in? && current_user.has_role?(:admin) %>
    <li class="nav-item">
      <%= link_to "Admin", admin_path, class: 'nav-link'%>
    </li>
  <%end%>
</ul>
